
.container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
.logo-img{
    width: 200px;
}
.og-navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navbar{
    max-width: 1088px;
}
.navbar-li a{
    margin-left: 50px;
    font-family: 'poppinsbold';
    font-weight: 500;
    font-size: 20px;
    color: #021C33;
    -webkit-transition-property: all 0.3s linear 0.3s;
    -o-transition-property: all 0.3s linear 0.3s;
    transition-property: all 0.3s linear 0.3s;
}
.navbar-li-1 a{
    margin-left: 50px;
    font-family: 'poppinsbold';
    font-weight: 500;
    font-size: 20px;
    color: #021C33;
    text-decoration: underline;
    -webkit-transition: all 0.3s linear 0.3s;
    -o-transition: all 0.3s linear 0.3s;
    transition: all 0.3s linear 0.3s;
}
.navbar-li-1 a:hover{
    color: #32558c;
}

.navbar-li a:hover{
    color: #32558c;
}
.burger-icon{
    position: relative;
    display: none;
}
.burger-icon span{
    display: block;
    height: 4px;
    width: 35px;
    border-radius: 15px;
    background-color: #021C33;
    margin: 0 0 7px 0;
}
.for-mobile-nav{
    opacity: 0;
    position: fixed;
    width: 52%;
    height: 70%;
    right: 0px;
    top:0;
    background-color: #fffbeee5;
    border-radius: 30px;
    z-index: 10;
}
.burger-icon-exit{
    position: absolute;
    right: 50px;
    top: 0;
}
.burger-icon-menu{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: bold;
    color: #163460;
    margin: 70px 0 20px 35px;
}
.clear{
    width: 50px;
}
.nav-li{
    display:block;
    font-family: 'poppins';
    font-size: 30px;
    margin: 10px 0 20px 35px;
}
.nav-li a{
    color: #021C33;
}
.burger-icon:hover .for-mobile-nav{
    opacity: 1 ;

}
.banner-conatainer{
    max-width: 1088px;
    width: 100%;
    margin:0 auto;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFFBEE;
}
.image-box{
    max-width: 600px;
    width: 100%;
}
.banner{
    max-width: 600px;
    width: 100%;
}
.banner-info{
    max-width: 500px;
    width: 100%;
    margin-left: 30px;
}
.banner-title{
    font-family: 'poppinsbold';
    font-size: 36px;
    color:#021C33;
    margin-left: 5px;
}
.banner-text{
    font-family: 'butlerregular';
    font-size: 21px;
    color: rgb(11, 48, 30);
    margin-top: 15px;
    margin-left: 5px;
}
.about-button{
    width: 190px;
    height: 50px;
    border-radius: 30px;
    background-color: #32558C;
    margin: 20px 0 0 5px;
    padding-top: 12px;
    font-family: 'muktaregular';
    font-size: 21px;
    color: #FFFBEE;
    -webkit-transition-property: all 0.4s linear 0.5s;
    -o-transition-property: all 0.4s linear 0.5s;
    transition-property: all 0.4s linear 0.5s;
}
.about-button:hover{
    background-color: #8872AD;
    margin-left: 20px;
}
.button-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.square-container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box1{
    max-width: 352px;
    width: 100%;
    height: 230px;
    background-color:#707070;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.box-title{
    font-family: 'butlerregular';
    font-weight: 800;
    font-size: 24px;
    font-style: italic;
    color: #FFFBEE;
    margin-top: 15px;
}
.box-text{
    width: 290px;
    margin: 30px 0px 0px 20px;
    font-family: 'butlerregular';
    font-weight: lighter;
    font-size: 21px;
    color: #FFFBEE;
}
.box2{
    max-width: 352px;
    width: 100%;
    height: 230px;
    background-color:#32558C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.box3{
    max-width: 352px;
    width: 100%;
    height: 230px;
    background-color:#8872add3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.space-container{
    max-width: 1088px;
    width: 100%;
    margin:0 auto;
}
.container-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
    font-size: 40px;
    text-decoration: underline;
    color: #021C33;;
}
.space-box{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.image-one{
    max-width: 720px;
    width: 100%;
    margin-top: 50px;
}
.space-description{
    max-width: 352px;
    width: 100%;
    height: 200px;
    background-color: #FFFBEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 16px;
    padding-left: 30px;
}
.space-description2{
    max-width: 352px;
    width: 100%;
    height: 200px;
    background-color: #FFFBEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 16px;
    padding-left: 30px;
}
.text-descr{
    max-width: 270px;
    width: 100%;
    font-family: 'poppins';
    font-size: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
}
.text-descr2{
    max-width: 500px;
    width: 100%;
    font-family: 'poppins';
    font-size: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
}
.space-button{
    width: 230px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50px;
    background-color: #163460;
    font-family: 'muktaregular';
    font-size: 21px;
    color: #FFFBEE;
    -webkit-transition: all 0.4s linear 0.5s;
    -o-transition: all 0.4s linear 0.5s;
    transition: all 0.4s linear 0.5s;
}
.space-button:hover{
    background-color: #8872AD;
    margin-right: 10px;
}
.for-button{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 20px;
}
.event-container{
    max-width: 1088px;
    width: 100%;
    margin:0 auto;
}
.event-boxes{
    margin-top: 50px;
}
.event-img1{
    max-width: 536px;
    width: 100%;
}
.event-box1{
    max-width: 1088px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
}
.event-box2{
    max-width: 1088px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.event-description{
    max-width: 352px;
    width: 100%;
    height: 150px;
    background-color: #FFFBEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 30px;
}
.event-description2{
    max-width: 352px;
    width: 100%;
    height: 153px;
    background-color: #FFFBEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 184px;
    padding-left: 30px;
}
.event-box3{
    margin-top: 20px;
}
.event-img2{
    max-width: 1088px;
    width: 100%;
}
.event-description3{
    width: 560px;
    height: 100px;
    background-color: #FFFBEE;
    margin-top: 10px;
    padding: 30px 0 0 30px;
}
.mail-container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFBEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
}
.mail-title{
    margin: 30px 0 0 30px;
    font-family: 'muktaregular';
    font-weight: bold;
    font-size: 33px;
    color: #707070;
}
.mail-text{
    margin:40px 0 0 30px;
    font-family: 'exothin';
    font-size: 20px;
    font-weight: 700;
}
.form-input{
    max-width: 352px;
    width: 100%;
    height: 54px;
    margin:30px 0 0 30px;
    background-color: #FFFBEE;
    border: 2px solid #8872AD;
    font-family: 'muktaregular';
    font-size: 15px;
}
button{
    width: 160px;
    height: 62px;
    margin:20px 0 0 120px;
    background: none;
    background-color: #8872AD;
    color: #FFFBEE;
    font-family: 'muktaregular';
    font-size: 21px;
    cursor: pointer;
}
input:focus,button:focus{
    outline: none;
}
.mail-img{
    max-width: 450px;
    width: 100%;
}
.last-container{
    max-width: 1420px;
    width: 100%;
    margin:0 auto;
    background-color: #FFFBEE;
    margin-top: 60px;
}
.about-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.about {
    font-family: 'butlerregular';
    font-size: 22px;
    font-weight: 700;
    color:#021C33;
    margin:15px 0 15px 0;
}
.about a{
    color: #021C33;
}
.box-content{
    font-family: 'poppinsregular';
    font-size: 19px;
    color:#021C33;
    margin-bottom: 10px;
}
.socials{
    margin-top: 50px;
}
.icon{
    margin: 10px 10px 0 0;
}
.contact{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;   
}
.contact::before{
    content: "";
    display:block;
    max-width: 800px;
    width: 100%;
    height: 1px;
    background-color: #021C33;
}
/* 
this is events page from here  */
.for-space{
    max-width: 1088px;
    width:100%;
    margin: 0 auto;
}
.for-space-title{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #FFFBEE; 
    margin-bottom: 50px; 
}
.for-space-img{
    max-width: 1088px;
    width: 100%;
}
.page-title{
    width: 100%;
    margin: 50px 0px 20px 0px;
    font-family: 'poppins';
    font-size: 30px;
    font-weight: 700;
    color: #163460;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.space-block{
    max-width: 1088px;
    width: 100%;
    position: relative;
    margin-bottom: 80px;
    -webkit-transition: all 0.4 0.6 linear;
    -o-transition: all 0.4 0.6 linear;
    transition: all 0.4 0.6 linear;
}
.for-space-block{
    background-color: #ffeefe75;
    height: 230px;
    position: absolute;
    z-index: 5;
    bottom: 5px;
    display: none;
}
.space-block:hover .for-space-block{
    display: block;
}
.space-block-title{
    margin: 10px 0 20px 30px;
    font-family: 'butler';
    font-size: 28px;
    font-weight: bolder;
    color: #163460;
}
.space-details{
    margin: 5px 0 10px 30px;
    font-family: 'exothin';
    font-size: 22px;
    font-weight: 600;
    color: #021C33;
}
/* this is the end of space page */

/* here starts is About us  */
.main-container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
.about-us-container{
    background-image: url(../images/event4.jpg);
    border-radius: 10px;
    max-width: 1088px;
    width: 100%;
    height: 450px;
    margin: 0 auto;  
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.for-about-us{
    width: 700px;
    height: 400px;
    background-color: #fffbee9c;
}
.for-about-title{
    font-family: 'poppins';
    font-size: 70px;
    font-weight: 600;
    color: #707070;
    margin-left: 30px;
}
.title-two{
    font-family: 'poppins';
    font-size: 40px;
    font-weight: 500;
    color: #707070;
    margin: 30px 0 0 30px;
}
.for-about-text{
    font-family: 'poppins';
    font-size: 25px;
    font-weight: 600;
    color: #555454;
    margin: 30px 0 0 30px;
}
.story-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
}
.story-main-title{
    font-family: 'butler';
    font-size: 34px;
    font-weight: 500;
    color: #163460;
    margin: 20px 0 30px 0;
}
.story-title{
    font-family: 'butler';
    font-size: 27px;
    color:#707070b2;
    font-style: italic;
    margin-bottom: 15px;
}
.story-text{
    font-family: 'muktaregular';
    font-size: 23px;
    color:#707070;
    margin-bottom: 15px;
}
.team-box{
    max-width: 1088px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #163460;
    color: #FFFBEE;
    font-family: 'poppins';
    font-size: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 60px 0 40px 0;
}
.employee-one{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.employee-img{
    max-width: 352px;
    width: 100%;
}
.info-employee{
    width: 352px;
    height: 420px;
    background-color: #707070b2;
    margin-top: 10px;
}
.employee-detail{
    font-family: 'poppins';
    font-size: 17px;
    color: #FFFBEE;
    margin: 10px 0 10px 40px;
}
/* this is the end of about us */

/* here start cotnact */ 
.for-contact-container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
.contact-banner{
    max-width: 1088px;
    width: 100%;
    background-image: url(../images/contactimg.png);
    border-radius: 10px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
}
.contact-title{
    font-family: 'poppins';
    font-size: 76px;
    color: #8872AD;
    font-weight: bold;
}
.for-contact-info{
    height: 500px;
    position: relative;
    margin-top: 60px;
    margin-bottom: 50px;
}
.map{
    max-width: 644px;
    width: 100%;
    position: absolute;
    right: 2px;
}
.contact-information{
    position: absolute;
    top: 120px;
    max-width: 500px;
    width: 100%;
    height: 260px;
    background-color: #fffbeef6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}
.for-contact-title{
    font-family: 'butler';
    font-size: 30px;
    color:#8872AD;
    margin: 20px 0 20px 60px;
}
.email-adress-phone{
    font-family: 'butler';
    font-size: 21px;
    font-weight: 600;
    color:#8872AD;
    margin: 10px 0 10px 60px;

}
@media (max-width:1100px) {
    .container{
        max-width: 870px;
    }
    .logo-img{
        max-width: 170px;
    }
    .banner-conatainer{
        max-width: 870px;
        margin-top: 10px;
    }
    .image-box{
        max-width: 400px;
    }
    .banner{
        max-width: 400px;
    }
    .banner-info{
        max-width: 440px;
    }
    .square-container{
        max-width: 870px;
    }
    .box1{
        width: 280px;
        height: 230px;
    }
    .box-title{
        font-family: 'butlerregular';
        font-size: 22px;
        margin-top: 10px;
    }
    .box-text{
        width: 250px;
        margin: 25px 0px 0px 0px;
        font-size: 21px;
        font-weight: 700;
    }
    .box2{
        width: 280px;
        height: 230px;
    }
    .box3{
        width: 280px;
        height: 230px;
    }
    .space-container{
        max-width: 870px;
    }
    .container-title{
        font-size: 35px;
    }
    .space-box{
        max-width: 870px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .image-one{
        width: 530px;
    }
    .event-img1{
        width: 600px;
    }
    .space-description{
        max-width: 252px;
        margin-left: 0px;
    }
    .space-description2{
        max-width: 252px;
        margin-right: 0;
    }
    .text-descr{
        max-width: 180px;
        width: 100%;
    }
    .text-descr2{
        max-width: 400px;
    }
    .space-button{
        width: 220px;
        height: 50px;
        font-size: 19px;
    }
    .for-button{
        max-width: 870px;
    }
    .event-container{
        max-width: 870px;
    }
    .event-box1{
        max-width: 870px;  
    }
    .event-box2{
        max-width: 870px;
        margin-top: 10px;
    }
    .event-description{
        max-width: 252px;
        width: 100%;
        margin-left: 0px;
    }
    .event-description2{
        max-width: 252px;
        width: 100%;
        margin-left: 1px;
    }
    .event-box3{
        margin-top: 20px;
    }
    .event-description3{
        width: 452px;
    }
    .mail-container{
        max-width: 870px;
    }
    button{
        width: 160px;
        height: 60px;
        margin:20px 0 0 80px;
        font-size: 20px;
    }
    .last-container{
        max-width: 1024px;
    }
    .about{
        font-size: 21px;
        font-weight: 600;
        color: #021C33;
    }
    .box-content{
        font-size: 18px;
    }
    .contact{
        max-width: 800px;   
        margin-left: 100px;
    } 
    .contact::before{
        max-width: 600px;
    }
    .story-box{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    .info-employee{
        width: 330px;
        height: 420px;
        background-color: #707070b2;
        margin-top: 10px;
    }  
}   
@media (max-width:768px) {
    .burger-icon{
        display: block;
    }
    .container{
        padding: 8px;
    }
    nav{
        display: none;
    }
    .logo-img{
        max-width: 200px;
    }
    .banner-conatainer{
        max-width: 768px;
        background-image: url(../images/test.jpg);
    }
    .image-box{
        display: none;
    }
    .image-one{
        width: 100%;
        max-width: 768px;
    }
    .event-img1{
        max-width: 768px;
        width: 100%;
    }
    .event-img2{
        width: 100%;
    }
    .banner-info{
        background-color: none;
        padding-top: 30px;
    }
    .about-button{
        margin-bottom: 20px;
    }
    .box1{
        width: 250px;
    }
    .box-title{
        font-family: 'butlerregular';
        font-size: 22px;
        margin-top: 10px;
    }
    .box-text{
        width: 230px;
        margin: 25px 0px 0px 15px;
        font-size: 20px;
    }
    .box2{
        width: 250px;
    }
    .box3{
        width: 250px;
    }
    .mail-img{
        display: none;
    }
    .space-container{
        max-width: 768px;
    }
    .space-box{
        max-width: 768px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .space-button{
        margin-right: 20px;
    }
    .for-button{
        max-width: 768px;
    }
    .space-description{
        display: none;
    }
    .space-description2{
        display: none;
    }
    .event-description{
        display: none;
    }
    .event-description2{
        display: none;
    }
    .event-box3{
        margin-top: 20px;
    }
    .event-description3{
       display: none;
    }
    .contact{
        margin-left: 0;
        padding-left: 30px;
    }
    .for-space-block{
        height: 240px;
    }
    .space-details{
        font-size: 20px;
    }
    .info-employee{
        width: 250px;
    }
    .story-box{
        width: 700px;
    }
}
@media (max-width:550px){
    .box3{
        display: none;
    }
    .space-block-title{
        font-size: 25px;
        margin: 5px 0 10px 10px;
    }
    .space-details{
        font-size: 18px;
        margin: 5px 0 5px 5px;
    }
    .about-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-flow: column-reverse;
                flex-flow: column-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .about-box{
        padding-left: 30px;
    }
    .partner-box{
        padding-left: 30px;
    }
    .about {
        margin-top: 10px;
    }
    .box-content{
        margin-bottom: 15px;
    }
    .socials{
        margin: 50px 0 30px 40px;
    }
    .icon{
        margin: 10px 10px 0 0;
    }
    .story-box{
        width: 500px;
    }
    .info-employee{
        width: 300px;
    }
    .employee-one{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .contact-information {
        max-width: 400px;
        background-color: #fffbeed8;
    }
    .email-adress-phone{
        margin: 10px;
    }
    .mail-text{
        width: 200px;
    }
    button{
        margin: 30px
    }
}
@media (max-width:420px){
    .square-container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding:20px;
    }
    .box2, .box1{
        width: 352px;
        margin: 10px 0 0 10px;
    }
    .space-block-title{
        font-size: 18px;
        margin: 5px 0 5px 5px;
    }
    .space-details{
        font-size: 15px;
    }
    .for-space-block{
        height: 160px;
    }
    .story-box{
        width: 300px;
    }
    .for-about-us{
        height: 200px;
    }
    .for-about-title{
        font-size: 40px;
    }
    .title-two{
        font-size: 25px;
    }
    .for-about-text{
        font-size: 18px;
    }
    .contact-title{
        font-size: 40px;
        text-align: center;
    }
    .for-contact-info{
        height: 710px;
    }
    .contact-information{
        top: 454px;
    }

}
@media (max-width:375px){
    .box2, .box1{
        width: 352px;
        margin: 10px 0 0 0px;
    }
    .space-block-title{
        font-size: 17px;
    }
    .space-details{
        font-size: 14px;
    }
    .for-about-us{
        height: 300px;
    }
    .box-content{
        font-size: 16px;
    }
    .form-input{
        width: 290px;
    }
}
@media (max-width:320px){
    .box2, .box1{
        width: 320px;
        margin: 10px 0 0 0px;
    }
    .space-block-title{
        font-size: 17px;
    }
    .space-details{
        font-size: 13px;
    }
    .for-space-block{
        height: 150px;
    }
    .flex-column{
        width: 290px;
    }
    .mail-title{
        margin-left: 10px;
    }
    .mail-text{
        margin-left: 10px;
    }
    .form-input{
        width: 100%;
        margin: 10px;
    }
    button{
        width: 100px;
        margin:20px 0 10px 110px;
    }


}


